{% extends "base.html" %}

{% block css %}
{% load static %}
<!--<link rel="stylesheet" href="{% static 'juapp/css/local.css' %}">-->
{% endblock %}

{% block content %}

<main class="container row">
    <div class="col s12">
        <div class="row center">
            <h5>{{local.nome}}</h5>
            <lu>
                <li>dias_para_busca</li>
                <li>TermoParaBusca</li>
                <li>LISTA DE PAGINAS POR TERMO</li>
            </lu>
        </div>

        
    </div>
</main>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 id="modal1_titulo">Remover</h4>
        <p>Tem certeza que deseja deletar este horário?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
        <a id="modal1_sim" href="#!" class="modal-action waves-effect waves-green btn-flat ">
            Deletar
        </a>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.getElementById('id_horario');
        var instances = M.Timepicker.init(elems, { twelveHour: false });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.getElementById('modal1');
        var instance = M.Modal.init(elems, {
            onOpenStart: function (instance, trigger) {
                document.getElementById('modal1_titulo').textContent = 'Remover ' + trigger.dataset.horario
                document.getElementById('modal1_sim').href = '/delete_horario/' + trigger.dataset.id + '/'
            }
        });
    });





</script>

{% endblock %}